flows/fence.json
[{"id":"d5aa148d.6b0f98","type":"function","z":"2e4cccb4.9f45ac","name":"Prepare storage","func":"var rev=msg.payload._rev;\nmsg.payload=msg.savepl;\ndelete msg.savepl;\nmsg._id=\"fence\";\nmsg.payload._id=\"fence\";\nmsg.payload._rev=rev;\nmsg.nodename=\"Prepare storage\";\nreturn msg;","outputs":1,"x":717,"y":179,"wires":[["ac12d1c.ccedfb","88bd7d2e.6a5c88"]]},{"id":"8364e4a3.3be878","type":"function","z":"2e4cccb4.9f45ac","name":"Prepare Query","func":"msg.savepl=msg.payload;\nmsg.payload=\"fence\";\nmsg.nodename=\"Prepare Query\";\nreturn msg;","outputs":1,"x":324,"y":179,"wires":[["ccaece7.a9e4e3"]]},{"id":"a7761f7.578a76","type":"http in","z":"2e4cccb4.9f45ac","name":"[POST] /fence Fence Upload","url":"/fence","method":"post","swaggerDoc":"","x":120.5,"y":175,"wires":[["8364e4a3.3be878"]]},{"id":"286acc70.827eac","type":"http in","z":"2e4cccb4.9f45ac","name":"[GET] /fence Get Fence","url":"/fence","method":"get","swaggerDoc":"","x":105.5,"y":252,"wires":[["33587fee.fedb8"]]},{"id":"33587fee.fedb8","type":"function","z":"2e4cccb4.9f45ac","name":"Prepare Query","func":"msg.payload=\"fence\";\nreturn msg;","outputs":1,"x":318.5,"y":252,"wires":[["b767882f.dcf7a8"]]},{"id":"82a6eae6.ff2b98","type":"http response","z":"2e4cccb4.9f45ac","name":"Response","x":899.5,"y":253,"wires":[]},{"id":"b767882f.dcf7a8","type":"cloudant in","z":"2e4cccb4.9f45ac","service":"car-meets-home-cloudantNoSQLDB","cloudant":"","name":"Get Fence Definition","database":"car-meets-home","search":"_id_","design":"","index":"","x":526,"y":252,"wires":[["82a6eae6.ff2b98"]]},{"id":"ccaece7.a9e4e3","type":"cloudant in","z":"2e4cccb4.9f45ac","service":"car-meets-home-cloudantNoSQLDB","cloudant":"","name":"Get Fence Revision","database":"car-meets-home","search":"_id_","design":"","index":"","x":514,"y":180,"wires":[["d5aa148d.6b0f98"]]},{"id":"88bd7d2e.6a5c88","type":"http response","z":"2e4cccb4.9f45ac","name":"Response","x":908,"y":178,"wires":[]},{"id":"ac12d1c.ccedfb","type":"cloudant out","z":"2e4cccb4.9f45ac","service":"car-meets-home-cloudantNoSQLDB","cloudant":"","name":"Insert New Fence Data","database":"car-meets-home","payonly":true,"operation":"insert","x":898,"y":110,"wires":[]},{"id":"fb383f38.500c6","type":"http in","z":"2e4cccb4.9f45ac","name":"[POST] /fence Fence Upload","url":"/fence2","method":"post","swaggerDoc":"","x":121.5,"y":365,"wires":[["896c388e.ba377","e845a12e.91ad38"]]},{"id":"896c388e.ba377","type":"cloudant out","z":"2e4cccb4.9f45ac","service":"car-meets-home-cloudantNoSQLDB","cloudant":"","name":"Insert New Fence Data","database":"car-meets-home","payonly":true,"operation":"insert","x":898,"y":328,"wires":[]},{"id":"e845a12e.91ad38","type":"http response","z":"2e4cccb4.9f45ac","name":"Response","x":864,"y":396,"wires":[]}]
