flows/tracking.json
[{"id":"985a8110.4b103","type":"ibmiot","name":"My Bluetooth device"},{"id":"cdcbeca8.a8a46","type":"ibmiot in","z":"1785f43f.6e999c","authentication":"apiKey","apiKey":"985a8110.4b103","inputType":"evt","deviceId":"","applicationId":"","deviceType":"proximity","eventType":"","commandType":"","format":"","name":"My Bluetooth device","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":true,"x":119,"y":143,"wires":[["55797e48.fcfbd"]]},{"id":"55797e48.fcfbd","type":"function","z":"1785f43f.6e999c","name":"Store BT value","func":"context.global.bttime=Date.now();\ncontext.global.rssi=msg.payload.d.rssi\ncontext.global.lq=msg.payload.d.lq\ncontext.global.inBeacon=context.global.rssi>context.global.rssimin;\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":148,"wires":[["b41b2de6.41f31"]]},{"id":"b41b2de6.41f31","type":"function","z":"1785f43f.6e999c","name":"Determine Action","func":"//\n// determine when to send a switch command\n// A command is sent when a grace period has  \n// expired since last switch (to protect the\n// appliance) and if the state of the appliance \n// is to be changed\nnow = Date.now();\ndbg={ payload:\"\"};\nif (context.global.nextSwitch === undefined)context.global.nextSwitch=0; // due to an error as it seems nextSwitch is not initialized jr/20160114\nif (context.global.nextSwitch === null)context.global.nextSwitch=0; // due to an error as it seems nextSwitch is not initialized jr/20160114\ncontext.global.nextSwitch=0; // due to an error as it seems nextSwitch is not initialized jr/20160114\n\nvar cmd=(context.global.inBeacon ||\n    context.global.inFence)?\"on\":\"off\";\nif (now > context.global.nextSwitch && \n           context.global.lastCmd != cmd) {\n   // we need to switch now\n   context.global.nextSwitch=now+context.global.delay;\n   context.global.lastCmd=cmd;\n    msg.payload=cmd;\n    msg.format=\"text\";\n    dbg.payload=\"switch appliance '\"+cmd+\"'\";\n} else {\n   msg=null\n   var r=\"\";\n   if (cmd == context.global.lastCmd) r=\"same cmd (\"+cmd+\")\";\n   if (now <= context.global.nextSwitch) r += \" too early (\"+new Date(context.global.nextSwitch).toLocaleString()+\")\";\n    dbg.payload=\"not switching appliance reason: '\"+r+\"'\";\n}\nreturn [ msg, dbg, { payload: context.global }];","outputs":"3","noerr":0,"x":884,"y":154,"wires":[["46a9b381.94a064","5649c71a.d8e5c8"],["d73a53d7.2640c"],["d73a53d7.2640c"]]},{"id":"aa5b2308.24eeb","type":"inject","z":"1785f43f.6e999c","name":"App Setup","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":358,"y":490,"wires":[["1c0d229f.bc5835"]]},{"id":"1c0d229f.bc5835","type":"function","z":"1785f43f.6e999c","name":"Initialize","func":"// bluetooth related\ncontext.global={}\ncontext.global.bttime=0;\ncontext.global.rssimin=-32;\ncontext.global.rssi=0;\ncontext.global.inBeacon=false;\n// Timer related\ncontext.global.lastCmd=\"\";\ncontext.global.nextSwitch=0;\ncontext.global.delay=5000; // 5 secs is better fro simulator 30*1000; // 30 secs \n// will be used later\ncontext.global.gpstime=0;\ncontext.global.gps={lat: 0.0, lng:0.0};\ncontext.global.inFence=true;\nmsg.payload=\"App initialized\";\nmsg.payload=context.global;\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":492,"wires":[["2179878f.bec898"]]},{"id":"2179878f.bec898","type":"debug","z":"1785f43f.6e999c","name":"Init Console","active":true,"console":"false","complete":"payload","x":1015,"y":493,"wires":[]},{"id":"46a9b381.94a064","type":"ibmiot out","z":"1785f43f.6e999c","authentication":"apiKey","apiKey":"985a8110.4b103","outputType":"cmd","deviceId":"b827eb2fa78a","deviceType":"proximity","eventCommandType":"switch","format":"text","data":"on","name":"Store Analytics Data","service":"registered","x":1108,"y":107,"wires":[]},{"id":"d73a53d7.2640c","type":"debug","z":"1785f43f.6e999c","name":"DBG Console","active":true,"console":"false","complete":"payload","x":1095,"y":208,"wires":[]},{"id":"913cecda.3e0ad","type":"inject","z":"1785f43f.6e999c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":583,"y":60,"wires":[["b41b2de6.41f31"]]},{"id":"5fd9f5d.856568c","type":"http in","z":"1785f43f.6e999c","name":"GPS Input [POST] /gps","url":"/gps","method":"post","x":104,"y":251,"wires":[["47ba4ae1.0f3a8c"]]},{"id":"47ba4ae1.0f3a8c","type":"function","z":"1785f43f.6e999c","name":"Prepare Query","func":"context.global.gps=msg.payload;\ncontext.global.gpstime=Date.now();\nmsg.save=msg.payload;\nmsg.payload=\"fence\";\nreturn msg;","outputs":1,"noerr":0,"x":258,"y":382,"wires":[["b01b11f7.697128"]]},{"id":"8b9452d4.627e68","type":"function","z":"1785f43f.6e999c","name":"CheckFence","func":"var vs=JSON.parse(msg.payload.fence);\nmsg.payload=msg.save;\ndelete msg.save;\nvar x = msg.payload.lat;\nvar y = msg.payload.lng;\nvar inside = false;\n\nfor (var i = 0, j = vs.length - 1; i < vs.length; j = i++) {\n\tvar xi = vs[i].lat, yi = vs[i].lng;\n\tvar xj = vs[j].lat, yj = vs[j].lng;\n\tvar intersect = ((yi > y) != (yj > y)) && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);\n\tif (intersect)\n\t\tinside = !inside;\n}\ncontext.global.inFence=inside;\nmsg.payload=context.global;\nreturn [ msg, {payload: \"car is \"+(inside?\"\":\"not \")+\"inside fence\"} ];","outputs":"2","noerr":0,"x":477,"y":380,"wires":[["b41b2de6.41f31","965bbc9d.06a72","d73a53d7.2640c"],["a3fbc8af.1dc5f"]]},{"id":"965bbc9d.06a72","type":"http response","z":"1785f43f.6e999c","name":"Back to GPS","x":1132,"y":379.0000305175781,"wires":[]},{"id":"b01b11f7.697128","type":"cloudant in","z":"1785f43f.6e999c","service":"car-meets-home-cloudantNoSQLDB","cloudant":"","name":"Retrieve Fence","database":"car-meets-home","search":"_id_","design":"","index":"","x":356,"y":259,"wires":[["8b9452d4.627e68"]]},{"id":"a3fbc8af.1dc5f","type":"debug","z":"1785f43f.6e999c","name":"Check Fence Result","active":true,"console":"false","complete":"payload","x":1128,"y":417,"wires":[]},{"id":"95c2dca8.03817","type":"http request","z":"1785f43f.6e999c","name":"Push Offer Notification","method":"POST","ret":"txt","url":"http://5.153.51.83:9080/4gupsell/rest/intf/subscriber/33684534493/eventNotif","x":1437,"y":152,"wires":[["2f727733.0dc328"]]},{"id":"5649c71a.d8e5c8","type":"function","z":"1785f43f.6e999c","name":"Determine Offer Receiver","func":"if (msg.payload == \"on\") {\n    msg.payload={\n    \t\"eventId\":\"11\",\n    \t\"xitfyNotif\":true\n    };\n\n\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":1203,"y":151,"wires":[["95c2dca8.03817","ceed3f1b.a94008"]]},{"id":"2f727733.0dc328","type":"debug","z":"1785f43f.6e999c","name":"","active":true,"console":"false","complete":"false","x":1498,"y":237,"wires":[]},{"id":"ceed3f1b.a94008","type":"http request","z":"1785f43f.6e999c","name":"Push to Joel","method":"POST","ret":"txt","url":"https://api.apim.ibmcloud.com/joelvialefribmcom-dev/sb/tslPushNotification/pushANotification/33677020642","x":1397,"y":90,"wires":[[]]}]
